#wphead { height: 46px }
#header-logo {
	background-image: url(../images/logo_admin.png);
	width: 60px;
	height: 32px;
}
#wphead h1 { font-size: 22px }
#progo_welcome li ul {
	margin-top: 6px;
	list-style: inside;
}
table.form-table label { font-size: 13px; }

/* api key check? */
img.kcheck { position: relative; top:3px; }

tr.status-notdirect { display: none; }

/* for admin pages */
.metabox-holder .postbox .inside h3 { background: none; cursor: text; padding: 0; }
.metabox-holder .postbox .inside.noh3 h3 { display: none; }
.progo-form .form-table th { width: 160px; }

div.updated.progo-steps { border-width: 2px; padding-right: 7%; background: #FFFFE0 url(../images/logo_admin.png) no-repeat 99% 50% }
#adminmenu .menu-icon-progo div.wp-menu-image { background: url(../images/logo_menu.png) no-repeat 50% 50% }