body { background: url(../images/BlackOrange/bg.gif) repeat 0 0; }
#fx { background: url(../images/BlackOrange/bg-grad.png) repeat-x 0 0; }

#pagetop { background: url(../images/BlackOrange/pagetop.jpg) no-repeat 0 0 }
.slide input.wpsc_buy_button, .slide a.morebutton { background-image: url(../images/BlackOrange/btn_buyslide.png); color: #fff }
#pagetop.slides div.price { color: #000; }

#ftr, #ftr a { color: #fff; }

#wpadminbar .quicklinks #wp-admin-bar-progo_colorschemeBlackOrange a { font-weight: bold; }